
@{
    Layout = null;
}

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular.js"></script>

<div ng-app="student" ng-controller="student_controller">
    <div>
        <input type="search" ng-model="search" />
    </div>
    <table>
        <thead>
            <tr>

            <th>ID</th>
            <th>Name</th>
            <th>Roll</th>
            <th>Address</th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="x in student|filter:search">
                <td>{{x.StudentId}}</td>
                <td>{{x.StudentName|uppercase}}</td>
                <td>{{x.Role|currency}}</td>
                <td>{{x.Address|uppercase}}</td>
            </tr>
        </tbody>
    </table>

</div>



<script src="~/AngularJsApp/module.js"></script>
<script src="~/AngularJsApp/service.js"></script>
<script src="~/AngularJsApp/controller.js"></script>