
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyApp</title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/CreateJS/app.js"></script>
    <script src="~/Scripts/CreateJS/controller.js"></script>
</head>
<body ng-app="MyApp">
    <div ng-controller="MyCtrll"> 
        {{message}}

        <input type="text" ng-model="num" /> {{}}
    </div>
</body>
</html>


